.site_body{
  background-color: #0d3f6a;
}
.main_div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top:50px ;

  width: 100%;
}
.login_title{
  color: #fff;
}
.input_wrapper{
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  padding: 5px 8px;
}
.submit_btn{
  margin-top: 10px;
  padding: 5px 7px;
  width: 250px;
  background-color: #f9bd5f;
  border: 1px solid #b77d20;
  border-radius: 5px;
  color: #0d3f6a;
  font-weight: 600;
}